<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
      Your guess is <%= $guess %>
    </p>
  </body>
</html>