<html>
  <head>
    <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
      Your guess is <%= $guess %>
      You have <%= @@guesses_left %> guesses before the number changes and you lose.
    </p>
  </body>
</html>